Source: signal-desktop
Section: utils
Priority: optional
Maintainer: Cédric Bellegarde <cedric.bellegarde@adishatz.org>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 build-essential,
 nodejs,
 npm,
 git,
 git-lfs,
 libnotify4,
 libxtst6,
 libnss3,
 libasound2t64,
 libpulse0,
 libxss1,
 libc6 (>= 2.31),
 libgtk-3-0,
 libgbm1,
 libx11-xcb1
Standards-Version: 4.6.2
Homepage: https://github.com/droidian/Signal-Desktop

Package: signal-desktop
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: A private messenger for Windows, macOS, and Linux. 
